* {
    margin: 0%;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    background-color: #F3F7EC;
}

h1 {
    text-align: center;
    color: #D7E5CA;
    background-color: #132043;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-head{
    margin-top: 50px;
    padding: 0%;
    text-align: center;
}
.navbar {
    background-color: #14C38E;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 20px;
    justify-content: space-evenly;
}

.nav-links {
    text-decoration: none;
    background-color: #14C38E;
    color: #E3FCBF;
    font-weight: 600;
    font-size: 20px;
}

.nav-links:hover {
    color: #072541;
}

.form-box{
    border-radius: 10px;
    background-color: #FF896B;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 490px;
    margin-right: 490px;
}
label{
    background-color: #FF896B;
    padding:10px;
    text-align: left;
    color: #2F3645;
    font-weight: 400;
}
.form-bx{
    background-color: #FF896B;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
}
input[type=text] , input[type=email] {
    background-color: #FEFDED;
    width: auto;
    height: 27px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border: 2px solid #FF896B;
    border-radius: 5px;
    color: #072541;
}
.submit-btn{
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #102C57;
    color:#FCFFE0;
    font-size: 15px;
    width: auto;
    height: 27px;
    outline: none;
    border: 2px solid #FF896B;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
textarea{
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #FEFDED;
    width: auto;
    height: 80px;
    border: 2px solid #FF896B;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}
footer {
  background-color: #102C57;
  color: #BFDCE5;
  text-align: center;
  padding: 20px;
}

footer {
    background-color: #102C57;
}

.box4 {
    background-color: #102C57;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    height: 200px;

}

.footer-box-1,
.footer-box-2,
.footer-box-3 {
    flex: 1;
    background-color: #102C57;
}

li {
    background-color: #102C57;
    color: #E9F6FF;
    list-style-type: none;
    padding-top: 5px;
    font-weight: 500;
    text-align: start;
}

.link {
    text-decoration: none;
    background-color: #102C57;
    color: #E9F6FF;
}

.link:hover {
    color: #EF6262;
}

span {
    padding: 10px;
    padding-top: 5px;
    background-color: #102C57;
}

footer {
    margin-top: 80px;
}

h5 {
    padding: 10px;
    color: #917FB3;
    font-size: 15px;
    margin-left: 28px;
    font-weight: 800;
    text-align: start;
}

h5,
ul {
    background-color: #102C57;
}

.reserved {
    background-color: #102C57;
    margin-left: 20px;
    color: #BFDCE5;
}